* {
  margin: 0;
  padding: 0;
}

.App {
  align-items: center;
  background-image: url('./images/background.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header {
  height: 100px;
  margin: 30px;
  width: 692px;
}

.header h1 {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
}

.title-planetas, .title-missões {
  align-items: center;
  background: rgba(24, 26, 37, 0.5);
  border: 1px solid white;
  border-radius: 17px;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  height: 98px;
  justify-content: center;
  line-height: 150%;
  margin: 30px auto;
  mix-blend-mode: hard-light;
  width: 1140px;
}

.img-mercúrio {
  height: 21px;
  width: 31px;
}

.img-vênus {
  height: 66px;
  width: 92px;
}

.img-terra {
  height: 69px;
  width: 96px;
}

.img-marte {
  height: 40px;
  width: 56px;
}

.img-júpiter {
  height: 190px;
  width: 258px;
}

.img-saturno {
  height: 198px;
  transform: rotate(-16deg);
  width: 270px;
}

.img-urano {
  height: 99px;
  width: 134px;
}

.img-netuno {
  height: 97px;
  width: 134px;
}

.container-mission {
  display: flex;
  flex-wrap: wrap;
}

.container-planet-card, .container-mission {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-planet-card {
  height: 400px;
  width: 100%;
}

/* .container-mission {
  width: 80%;
  margin: 30px auto;
} */

.planet-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.planet-card p {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 16px;

  /* font-size: 20px; */
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 10px;
}

.mission-item {
  align-items: center;
  background: rgba(24, 26, 37, 0.5);
  border: 1px solid white;
  border-radius: 17px;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  margin: 15px;
  mix-blend-mode: hard-light;
  width: 200px;
}

.mission-item p:nth-child( 1 ) {
  font-size: 20px;
}

.mission-item span {
  margin-bottom: 10px;
}
